CFLAGS ?= -Wall -O2 -ffreestanding -nostdinc -nostdlib
LDFLAGS ?= -nostdlib -nostartfiles -T link.ld
TOOLCHAIN_PREFIX ?= aarch64-elf

ifeq ($(USE_CLANG),)
CFLAGS += -nostartfiles
CC_CROSS ?= $(TOOLCHAIN_PREFIX)-gcc
else
CC_CROSS ?= clang -target aarch64-linux
endif

LD_CROSS ?= $(TOOLCHAIN_PREFIX)-ld$
OBJCOPY_CROSS ?= $(TOOLCHAIN_PREFIX)-objcopy$
